@import 'tailwindcss';

@theme {
    --font-poppins: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        local('Poppins Regular'),
        local('Poppins-Regular'),
        url('/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
        local('Poppins Medium'),
        local('Poppins-Medium'),
        url('/assets/fonts/poppins-medium-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
        local('Poppins SemiBold'),
        local('Poppins-SemiBold'),
        url('/assets/fonts/poppins-semibold-webfont.woff2') format('woff2');
}
